<h1>Livros Cadastrar</h1>
<hr>
<main style="padding: 20px">
    <div style="width: 40px; margin:auto">
        <form action="Cadastrar" style="display: flex; flex-direction:column" >
            <label for="name">Título do livro</label>
            <input type="text" id="name" placeholder="Digite o nome do livro">

            <label for="category">Categoria</label>
            <input type="text" id="category" placeholder="Digite a categoria do livro">

            <label for="description">Descrição</label>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Digite a descrição do livro"></textarea>

            <label for="price">Preço</label>
            <input type="number" id="price" placeholder="$50,00">

            <label for="quantidade">Quantidade</label>
            <input type="number" placeholder="60">


            <button>Cadastrar</button>
        </form>
    </div>
</main>
<hr>
<h1>Rodapé</h1>